* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
}

.nav-class {
    color: #FA7A68;
}

 .navbar ul {
    display: none;
}

.navbar label {
    display: inline-block;
    width: 100%; 
    color: white;
}

label[for="hamburger"] {
    font-size: 30px;
}

/* .navbar #hamburger {
    display: inline-block;
    border-top: 1px solid black;
    color: white;
} */

.navbar ul li {
    display: block;
}

.navbar input:checked ~ ul {
    display: block;
}

.navbar input {
    visibility: hidden
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-transform: uppercase;
    color: #7DFAF2;
}

.headline {
    padding-bottom: 15px;
}

.bio {
    display: flex;
    justify-content: space-evenly;
}

.bio-container {
    background-color: #FA7A68;
    width: 80%;
    height: auto;
    display: flex;
    padding: 15px;
}

.bio-p1 {
    font-family: 'Montserrat', sans-serif; 
    width: 500px;
    line-height: 28px;
    display: inline-block;
    text-align: left;
}

.avatar {
    display: none;  
}   

h2 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.portfolio {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 34px;
    margin-top: 100px;
    padding: 10px;
    color: #72FDB8;
    background-color: black;
}

.project {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 28px;
    line-height: 32px;
    margin: 10px;
}

p {
    font-family: 'Bebas Neue', cursive; 
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: black;
}

.proj-desc {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: 10px;
}

.proj-img {
    display: flex;
    padding-bottom: 30px;
    display: block;
}

.quiz-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: auto;
    border: 1px solid black;
}

footer {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #72FDB8;
    display: flex;
    justify-content: space-evenly;
}

.contact {
    color: #72FDB8;
    /* display: inline; */
    list-style-type: none;
}

.fab {
    color: #72FDB8;

}

@media screen and (min-width: 760px) {
    
    body {
        width: 100%;
    }
    
    header {
        background-color: black;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 20px;
    }
    
    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 42px;
        text-transform: uppercase;
        color: #7DFAF2;
    }

    .navbar #hamburger {
        display: none;
    }

    .navbar label, #hamburger {
        display: none;
    }

    .navbar ul {
        display: block;
    }

    .navbar ul li {
        display: inline-block;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }

    .headline {
        padding-bottom: 15px;
    }
    
    .bio-container {
        background-color: #FA7A68;
        width: 600px;
        height: auto;
    }
    
    .bio {
        display: flex;
        justify-content: space-evenly;
    }
    
    .bio-p1 {
        width: 500px;
        line-height: 28px;
        display: inline-block;
        text-align: center;
    }
    
    .avatar {
        display: inline-block;
        width: 400px;
        height: auto;
        border: 1px solid black;
    }
    
    li {
        display: inline;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }
    
    h2 {
        font-family: 'Bebas Neue', cursive; 
        font-size: 36px;
        text-align: center;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif; 
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }
    
    .project {
        text-align: center;
        font-family: 'Bebas Neue', cursive; 
        font-size: 28px;
        line-height: 32px;
        padding: 20px;
    }
    
    p {
        font-family: 'Bebas Neue', cursive; 
        font-size: 20px;
        line-height: 22px;
    }
    
    .proj-desc {
        text-align: center;
        font-family: 'Montserrat', sans-serif; 
        font-size: 16px;
        line-height: 22px;
    }

    .proj-img {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }
    
    .quiz-img {
        display: inline-block;
        width: 400px;
        height: auto;
        border: 1px solid black;
    }
    
    footer {
        background-color: black;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #72FDB8;
    }

    .contact {
        color: #72FDB8;
        display: inline;
    }
}