* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    background: url('images/IMG_6898.jpeg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
}

header h1 {
    text-align: right;
    color: white;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* Button Animation */
#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
#button-3 a {
    position: relative;
    transition: all .45s ease-Out;
}
  
#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    /* background: #BFC0C0; */
    background: #FFDCA9;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}
  
#button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}
  
#button-3:hover a {
    color: #2D3142;
}

/* update later */
nav {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    /* padding-bottom: 20px; */
}

.headline {
    /* background-color: black; */
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}
    
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    /* text-transform: uppercase; */
    /* color: #7DFAF2; */
    color: #F2F2ED;
}

.nav-class {
    /* color: #FA7A68; */
    color: #86C4F9;
    text-decoration: none;
}

.navbar p {
    display: none;
}

.navbar label {
    display: inline-block;
    width: 100%; 
    color: #F2F2ED;
}

label[for="hamburger"] {
    font-size: 30px;
    cursor: pointer;
    float: right;
}

/* .navbar ul li {
    display: block;
    cursor: pointer;
} */

.navbar input:checked ~ p {
    display: block;
}

.navbar input {
    visibility: hidden
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    /* text-transform: uppercase; */
    /* color: #7DFAF2; */
    color: #F2F2ED;
}

.bio {
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
}

.bio-container {
    display: grid;
    grid-template-columns: auto;
    /* background-color: #FFDCA9; */
    /* border: 3px solid #FFDCA9; */
    /* width: 80%;
    height: auto; */
    padding: 15px;
    max-width: 100%;
}

.bio-p1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    display: block;
    text-align: left;
    /* margin: 10px; */
}

.avatar {
    display: none;  
}   

h2 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.projects-container {
    /* background-color: #F3F3EE; */
    background-color: #F2F2ED;
}

.project-container {
    /* background-color: #CCE1EA; */
    /* background-color: #BBE0F6; */
    padding: 20px;
    margin: 20px;
}

.projects {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    margin-top: 100px;
    padding: 10px;
    /* color: #7DFAF2; */
    color: black;
    /* background-color: black; */
}

.project {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 32px;
    line-height: 32px;
}

.proj-div {
    text-align: center;
}

.proj-link-1, .proj-link-2 {
    text-align: center;
}

.proj-link, a {
    font-family: 'Bebas Neue', cursive; 
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

.proj-desc {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 10px;
}

.proj-tech {
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    text-align: center;
}

.proj-tech li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 3px;
    line-height: 20px;
}

.proj-img {
    /* display: flex; */
    padding-bottom: 30px;
    display: block;
}

.quiz-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
}

.api-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 352px;
    border: 1px solid black;
    max-width: 100%;
}

.workout-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
}

.gratitude-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
}

.skills-title {
    text-align: center;
}

.skills-container-images {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

/* .skills-container .skills-container-images {
    display: block;
    width: 100%;
    text-align: center;
}

.skills-container .skills-container-images figure {
    width: 16%;
    display: inline-block;
    margin-bottom: 2rem;
} */

.skill-name img {
    height: 100px;
    width: 100px;
}

.skill-name {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.skill-name:hover {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.81);
}

.icon {
    color: black;
    size: 40px;
}

ul {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* .connect-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
} */

.connect-title {
    color: black;
    text-align: center;
}

.connect {
    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto; */
    /* display: inline-block; */
    color: #86C4F9;
    font-family: 'Montserrat', sans-serif; 
    /* color: #72FDB8; */
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.connect-item {
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.connect-item:hover {
    background-color: #FFDCA9;
}

.fab, .fas {
    color: #86C4F9;
    margin: 10px;
    font-size: 50px;
}


footer {
    background-color: black;
    color: white;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    body {
        width: 100%;
    }

    .navbar #hamburger {
        display: none;
    }

    .navbar label, #hamburger {
        display: none;
    }

    .navbar p {
        display: grid;
    }

    .navbar {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }

    .name {
        grid-column: 1;
    }

    .cl-bio {
        grid-column: 2;
        color: #86C4F9;
    }

    .cl-projects {
        grid-column: 3;
    }

    .cl-skills {
        grid-column: 4;
    }

    .cl-connect {
        grid-column: 5;
    }

    .navbar ul {
        display: inline-block;
    } 

    .navbar ul li {
        display: inline-block;
        padding: 15px;
        font-size: 18px;
        color: #86C4F9;
    }

    .menu {
        text-align: right;
    }

    .bio {
        padding: 0px;
        margin: 0px;
    }
    
    .bio-container {
        /* background-color: #FA7A68; */
        /* background-color: #818439; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        /* background-color: #FFDCA9; */
        /* height: auto; */
        margin: 10px;
    }

    .bio-p1 {
        line-height: 28px;
        grid-column-start: 1;
        grid-column-end: 3;
        /* display: inline-block; */
    }

    .proj-title-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .project {
        grid-column: 1 / -1;
        /* text-decoration: underline; */
    }

    .proj-link-1 {
        grid-column: 1;
        text-align: center;
    }

    .proj-link-2 {
        grid-column: 2;
        text-align: center;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
        grid-gap: 20px;
    }

    .proj-desc {
        grid-column: 2;
        grid-row: 1;
        text-align: center;
    }

    .proj-tech {
        font-family: 'Montserrat', sans-serif; 
        grid-column: 2;
        grid-row: 1;
    }
    
    .quiz-img {
        grid-column: 1;
        grid-row: 1;
        border: 1px solid black;
        width: 500px;
        height: auto;
    }

    .api-img{
        grid-column: 1;
        grid-row: 1;
        border: 1px solid black;
        width: 500px;
        height: auto;
    }

    .workout-img {
        grid-column: 1;
        grid-row: 1;
        border: 1px solid black;
        width: 500px;
        height: auto;
    }

    .gratitude-img {
        grid-column: 1;
        grid-row: 1;
        border: 1px solid black;
        width: 500px;
        height: auto;
    }

    /* .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */
}