* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
}
    
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-transform: uppercase;
    color: #7DFAF2;
}

.nav-class {
    color: #FA7A68;
}

.navbar ul {
    display: none;
}

.navbar label {
    display: inline-block;
    width: 100%; 
    color: white;
}

label[for="hamburger"] {
    font-size: 30px;
}

.navbar ul li {
    display: block;
    cursor: pointer;
}

.navbar input:checked ~ ul {
    display: block;
}

.navbar input {
    visibility: hidden
}

a:visited {
    color: inherit;
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-transform: uppercase;
    color: #7DFAF2;
}

.headline {
    padding-bottom: 15px;
}

.bio {
    display: flex;
    justify-content: space-evenly;
}

.bio-container {
    background-color: #FA7A68;
    width: 80%;
    height: auto;
    padding: 15px;
    max-width: 100%;
}

.bio-p1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    display: block;
    text-align: left;
    /* margin: 10px; */
}

.avatar {
    display: none;  
}   

h2 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.portfolio {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    margin-top: 100px;
    padding: 10px;
    color: #7DFAF2;
    background-color: black;
}

.project {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 32px;
    line-height: 32px;
    margin: 10px;
}

.proj-div {
    text-align: center;
}

.proj-link {
    font-family: 'Bebas Neue', cursive; 
    font-size: 24px;
    line-height: 24px;
    color: black;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

.proj-desc {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 10px;
}

.proj-img {
    display: flex;
    padding-bottom: 30px;
    display: block;
}

.quiz-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
}

.api-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 352px;
    border: 1px solid black;
    max-width: 100%;
}

.workout-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 352px;
    border: 1px solid black;
    max-width: 100%;
}

footer {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.contact {
    color: #7DFAF2;
    font-family: 'Montserrat', sans-serif; 
    /* color: #72FDB8; */
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.fab {
    color: #7DFAF2;
    margin: 10px;
}

@media screen and (min-width: 900px) {
    
    body {
        width: 100%;
    }

    .navbar #hamburger {
        display: none;
    }

    .navbar label, #hamburger {
        display: none;
    }

    .navbar ul {
        display: block;
    }

    .navbar ul li {
        display: inline-block;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }
    
    .bio-container {
        background-color: #FA7A68;
        width: 600px;
        height: auto;
    }
    
    .bio-p1 {
        line-height: 28px;
        display: inline-block;
    }
    
    .avatar {
        display: inline-block;
        width: 400px;
        height: auto;
        border: 1px solid black;
        max-width: 100%;
    }
    
    li {
        display: inline;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }

    .proj-img {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }
    
    .quiz-img {
        display: inline-block;
        width: 450px;
        height: auto;
        border: 1px solid black;
    }
}