* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
}

.navbar ul {
    display: none;
} 

.nav-class {
    color: #FA7A68;
}

.navbar {
    display: flex;
}

.navbar .hamburger {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%; 
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-transform: uppercase;
    color: #7DFAF2;
}

.headline {
    padding-bottom: 15px;
}

.bio {
    display: flex;
    justify-content: space-evenly;
}

.bio-container {
    background-color: #FA7A68;
    width: 80%;
    height: auto;
    display: flex;
    padding: 15px;
}

.bio-p1 {
    width: 500px;
    line-height: 28px;
    display: inline-block;
    text-align: left;
}

.avatar {
    display: none; 
}   

h2 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.project {
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    font-size: 28px;
    line-height: 32px;
    padding: 20px;
}

p {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    line-height: 22px;
}

.proj-desc {
    text-align: center;
    margin: 10px;
}

footer {
    background-color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #72FDB8;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.contact {
    color: #72FDB8;
    display: inline;
    list-style-type: none;
}

.contact-icon {
    list-style-type: none;
    display: inline;
    color: #72FDB8;
}

.social {
    color: #72FDB8;
    width: 70px;
    height: 70px;
}

@media screen and (min-width: 760px) {
    
    body {
        width: 100%;
    }
    
    header {
        background-color: black;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 20px;
    }
    
    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 42px;
        text-transform: uppercase;
        color: #7DFAF2;
    }

    .navbar .hamburger {
        display: none;
    }
    
    .navbar .menu {
        display: block;
    }

    .navbar li {
        display: inline;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }

    .headline {
        padding-bottom: 15px;
    }
    
    .bio-container {
        background-color: #FA7A68;
        width: 600px;
        height: auto;
    }
    
    .bio {
        display: flex;
        justify-content: space-evenly;
    }
    
    .bio-p1 {
        width: 500px;
        line-height: 28px;
        display: inline-block;
        text-align: center;
    }
    
    .avatar {
        display: inline;
        width: 400px;
        height: auto;
        border: 1px solid black;
    }
    
    li {
        display: inline;
        padding: 15px;
        font-size: 18px;
        color: #FA7A68;
    }
    
    h2 {
        font-family: 'Bebas Neue', cursive; 
        font-size: 36px;
        text-align: center;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif; 
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }
    
    .project {
        text-align: center;
        font-family: 'Bebas Neue', cursive; 
        font-size: 28px;
        line-height: 32px;
        padding: 20px;
    }
    
    p {
        font-family: 'Montserrat', sans-serif; 
        font-size: 16px;
        line-height: 22px;
    }
    
    .proj-desc {
        text-align: center;
    }
    
    footer {
        background-color: black;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #72FDB8;
        text-align: center;
    }

    .contact {
        color: #72FDB8;
        display: inline;
        list-style-type: none;
    }
}